{% extends 'base.html' %}

{% block title %}inscription patient{% endblock %}

{% block content %}
<!--=================================
    banner -->
<section class="inner-banner bg-light">
    <div class="container">
        <div class="row align-items-center intro-title">
        <div class="col-12">
            <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">Pages</a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>resgister patient </span></li>
            </ol>
        </div>
        </div>
    </div>
</section>
<!--=================================
banner -->

<!--=================================
blood -->
<section class="space-pt">
<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10"> 
        <div class="blood">
        <h4 class="mb-4">Informations personnelles</h4>
        <form>
            <div class="row align-items-center">
            <div class="form-group mb-3 select-border col-md-12">                  
                <div class="row align-items-center">
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="username" placeholder="Nom complet du patient">
                </div>
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Date de naissance du patient">
                </div> 
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Sexe du patient">
                </div>
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Adresse postale du patient">
                </div>
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Numéro de téléphone du patient">
                </div>
                <div class="mb-3 col-md-12">
                    <input type="" class="form-control" id="email" placeholder="Adresse e-mail du patient (optionnel)">
                </div>                                                            
                </div>
            </div>                
            </div>
        </form>
        </div>         
        <div class="blood">
        <h4 class="mb-4">Informations médicales de base</h4>
        <form>
            <div class="row align-items-center">
                <div class="form-group mb-3 select-border col-md-12">
                    <div class="row align-items-center">
                    <div class="mb-3 col-md-12">
                        <input type="text" class="form-control" id="" placeholder="Numéro d'identification patient de l'hôpital">
                    </div>                    
                    <div class="mb-3 col-md-12">
                        <input type="text" class="form-control" id="" placeholder="Poids du patient">
                    </div>
                    <div class="mb-3 col-md-12">
                        <input type="text" class="form-control" id="" placeholder="Taille du patient">
                    </div>
                    <div class="mb-3 col-md-12">
                        <input type="text" class="form-control" id="" placeholder="Allergies connues">
                    </div>
                    <div class="mb-3 col-md-12">
                        <input type="text" class="form-control" id="" placeholder="Conditions médicales préexistantes">
                    </div>
                    <div class="mb-3 col-md-12">
                        <input type="text" class="form-control" id="" placeholder="Résultats d'électrophorèse (le cas échéant)">
                    </div>                                                                                  
                    </div>
                </div>
            <div class="form-group select-border col-md-12">
                <label class="form-label">Groupe sanguin du patient</label>
                <select class="form-control basic-select" id="blood">
                <option value="1">A</option>
                <option value="5">B</option>
                <option value="2">AB</option>
                <option value="3">O</option>
                </select>
            </div>
            </div>
        </form>
        </div> 
        <div class="blood">
        <h4 class="mb-4">Historique médical</h4>
        <form>
            <div class="row align-items-center">
            <div class="form-group mb-3 select-border col-md-12">                  
                <div class="row align-items-center">
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Historique des traitements antérieurs">
                </div>
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Chirurgies antérieures">
                </div> 
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Hospitalisations antérieures">
                </div>
                <div class="mb-3 col-md-12">
		            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Médicaments actuellement pris (dosage et fréquence)"></textarea>
                </div>                                                           
                </div>
            </div>                
            </div>
        </form>
        </div>
        <div class="blood">
        <h4 class="mb-4">Références médicales et Contacts d'urgence</h4>
            <div class="row align-items-center">
            <div class="form-group mb-3 select-border col-md-12">                  
                <div class="row align-items-center">
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Nom et coordonnées des médecins traitants">
                </div>
                <div class="mb-3 col-md-12">
                    <input type="text" class="form-control" id="" placeholder="Nom et numéro de téléphone d'un contact d'urgence">
                </div>                                                                                   
                </div>
            </div>                
            </div>
        </div>           
        <div class="text-end">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>          
    </div>
    </div>
</div>
</section>
<!--=================================
blood -->

<!--=================================
Testimonial -->
<section class="space-pt">
<div class="container" style="background-image: url(images/pattern.png);">
    <div class="row align-items-center">
    <div class="col-lg-12">
        <!-- Owl-carousel -->
        <div class="owl-carousel testimonial" data-nav-arrow="false" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true" style="background-image: url(images/pattern.png);">
        <!-- Testimonial-01 START -->
        <div class="item">
            <div class="testimonial-item">
            <div class="testimonial-avatar">
                <img class="img-fluid rounded-circle" src="images/avatar/09.jpg" alt="">
            </div>
            <div class="testimonial-content">
                I have gotten at least 50 times the value from Medileaf. I will let my mum know about this, she could really make use of Medileaf! Wow what great service, I love it! Medileaf is the real deal!
            </div>
            <div class="testimonial-author">
                <div class="testimonial-">
                <div class="testimonial-quote">
                    <i class="flaticon-left-quote"></i>
                </div>
                <h6 class="mb-1">Alice Williams</h6>
                <span>- Mother.</span>
                </div>
            </div>
            </div>
        </div>
        <!-- Testimonial-01 END -->

        <!-- Testimonial-02 START -->
        <div class="item">
            <div class="testimonial-item">
            <div class="testimonial-avatar">
                <img class="img-fluid rounded-circle" src="images/avatar/04.jpg" alt="">
            </div>
            <div class="testimonial-content">
                We were treated like royalty. Needless to say we are extremely satisfied with the results. Thank you for making it painless, pleasant and most of all hassle free! It fits our needs perfectly.
            </div>
            <div class="testimonial-author">
                <div class="testimonial-">
                <div class="testimonial-quote">
                    <i class="flaticon-left-quote"></i>
                </div>
                <h6 class="mb-1">Felica Queen</h6>
                <span>- Cancer client.</span>
                </div>
            </div>
            </div>
        </div>
        <!-- Testimonial-02 END -->

        <!-- Testimonial-03 START -->
        <div class="item">
            <div class="testimonial-item">
            <div class="testimonial-avatar">
                <img class="img-fluid rounded-circle" src="images/avatar/03.jpg" alt="">
            </div>
            <div class="testimonial-content">
                We've seen amazing results already. Since I invested in Medileaf I made over 100,000 dollars profits. It's the perfect solution for our business. I was amazed at the quality of Medileaf.
            </div>
            <div class="testimonial-author">
                <div class="testimonial-">
                <div class="testimonial-quote">
                    <i class="flaticon-left-quote"></i>
                </div>
                <h6 class="mb-1">Paul Flavius</h6>
                <span>- Heather.</span>
                </div>
            </div>
            </div>
        </div>
        <!-- Testimonial-03 END -->

        <!-- Testimonial-04 START -->
        <div class="item">
            <div class="testimonial-item">
            <div class="testimonial-avatar">
                <img class="img-fluid rounded-circle" src="images/avatar/05.jpg" alt="">
            </div>
            <div class="testimonial-content">
                I love Medileaf. I have gotten at least 50 times the value from Medileaf. I STRONGLY recommend Medileaf to EVERYONE interested in running a successful online business!
            </div>
            <div class="testimonial-author">
                <div class="testimonial-">
                <div class="testimonial-quote">
                    <i class="flaticon-left-quote"></i>
                </div>
                <h6 class="mb-1">Harry Russell</h6>
                <span>- Surgery client.</span>
                </div>
            </div>
            </div>
        </div>
        <!-- Testimonial-04 END -->
        </div>
    </div>
    </div>
</div>
</section>
<!--=================================
Testimonial --> 
{% endblock %}